body{
    font-family: 'Muli', sans-serif;
}
.max-viewport{
    min-height: 100vh;
} 
.text-underline{
    width: 100px;
    border:2px solid #ffd282;
    margin: 0 auto;
}
.about-image,
#filler,
#progress
{
    background: url(img/background.jpg) fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
